<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="sumber/style.css">
  <link rel="stylesheet" href="sumber/w3.css">
  
</head>
<body>
   


  <script src="sumber/index.js"></script>




<div class="w3-row w3-container" style="padding-top: 10px;">

<script src="sumber/xy.js"></script>
<script src="sumber/animated.js"></script>

<script  src="sumber/ch1.js"></script>
<script  src="sumber/ch2.js"></script>
<script  src="sumber/ch3.js"></script>
<script  src="sumber/ch4.js"></script>
  <div class="w3-col s6 w3-center" style="background-color: rgba(115, 161, 207, 0.493);">
    <div id="ch1"></div>
    <div id="ch2"></div>
    <div id="ch3"></div>
    <div id="ch4"></div>
  </div>



<script  src="sumber/ch5.js"></script>
<script  src="sumber/ch6.js"></script>
<script  src="sumber/ch7.js"></script>
<script  src="sumber/ch8.js"></script>

  <div class="w3-col s6 w3-center" style="background-color: rgba(126, 189, 226, 0.479);">
    <div id="ch5"></div>
    <div id="ch6"></div>
    <div id="ch7"></div>
    <div id="ch8"></div>
  </div>
</div>
<script>
  const source = new EventSource("/chart-data");
</script>


</body>
</html>


